<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>

    <SitecoreStuff>
      <HyperlinkManagerExtender type="SitecoreStuff.Foundation.HyperlinkManagerExtender.HyperlinkManagerExtender, SitecoreStuff.Foundation.HyperlinkManagerExtender">
        <Extensions hint="raw:AddExtension">
<!--      <Extension name="Example" markup="~/sitecore modules/Sitecore Stuff/HyperlinkManagerExtender/Example.html" 
                     clean="ExampleClean" loadLink="ExampleLoadLink" modifyLink="ExampleModifyLink" /> -->
        </Extensions>
      </HyperlinkManagerExtender>
    </SitecoreStuff>

  </sitecore>
</configuration>
